.home {
  
    flex-direction: column;
    margin-top: 3em;
  }


.typer
{
    margin-top: 1em;
    margin-bottom: 1em;
}
#des {
    text-align: center !important;
}

#resumeButton,#social
{
    margin-top: 2em;
}


